/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*		01. DEFAULT STYLING
/*		02. CUSTOM CERTIFICATE CODE STYLING
/*		03. MEDIA QUERIES
/*
========================================================================*/
/*========================================================================*/
/*   01.DEFAULT STYLING
/*========================================================================*/
.bp_fields li.hide{
	display:none;
}

.form-table td span {
  font-size: 12px;
  padding-left: 10px;
  color: #888;
}


/*========================================================================*/
/*   02.CUSTOM CERTIFICATE CODE STYLING
/*========================================================================*/
